

.page-header__bg{
	
    font-family:Inter,sans-serif ;
    height: 433px;
    width: 1640px;
    position: absolute;
    text-align: left;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
div .container {
	/* Font & Text */
	font-family: Inter, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 34px;
	text-align: center;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	color: rgb(110, 118, 115);

	/* Box */
	height: 433px;
	width: 1200px;
	margin: 0px 220px;
	padding: 160px 15px;
	max-width: 1200px;

}
.thm-breadcrumb li{
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    height: 13px;
    width: 1170px;
    display: flex;
    color: #ffffff;
}
.container p{
    font-family: Inter,sans-serif;
    text-align: center;
    line-height: 34px;
    margin: 0;
    color: #ffffff;
}
.container h2{
    font-family: handlee,cursive;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    height: 70px;
    width: 1170px;
    margin: 30px 0 0 0;
    color: #ffffff;
}
.blog-grid {
    font-family: inter,sans-serif;
    text-align: left;
    height: 1336.75px;
    width: 1640px;
    padding: 120px 0 120px 0;
  }
.container-fluid{
    font-family:Inter,sans-serif;
    text-align: left;
    height: 1096.75px;
    width: 1200px;
    margin: 0 220px 0 220px;
    padding: 0 15px 0 15px;
    max-width: 1200px;
}
.col-md-6{
    font-family: Inter,sans-serif;
    text-align: left;
    height: 502.75px;
    width: 400px;
    padding: 0 15px 0 15px;
    max-width: 33.3333%;
    position: relative;
}

/* .blog-card__content{
    height: 228.75px;
    width: 370px;
    padding: 40px 40px 40px 40px;
    position: relative;
} */
.blog-card__content {
	/* Font & Text */
	font-family: Inter, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 34px;
	text-align: left;

	/* Color & Background */
	background-color: rgb(255, 255, 255);
	color: rgb(110, 118, 115);

	/* Box */
	height: 228.75px;
	width: 370px;
	padding: 40px;
	
	/* Positioning */
	position: relative;
    
	/* Effects */
	box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 60px 0px;
	
}
.blog-card__meta{
    display: flex;
}
.blog-card__meta_a1{
    color: #6e7673
}
.blog-card__meta_a2{
    color: #6e7673;
    margin:0 0 0 15px;
}
.blog-card__content_a{
    color: rgb(37, 89, 70);
    text-decoration: none solid rgb(37, 89, 70);
	-webkit-transition: all 500ms ease;
  	transition: all 500ms ease;
	
}
.blog-card__content_a:hover{
    color: rgb(54, 150, 41);
}

.blog-card__content_h3 {
	/* Font & Text */
	font-family: Inter, sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 34.008px;
	text-decoration: none solid rgb(37, 89, 70);
	text-align: left;
	

	/* Color & Background */
	background-color: rgba(255, 255, 255);
	color: rgb(37, 89, 70);

	/* Box */
	height: 68px;
	width: 290px;
	margin: 10px 0px 15px;

	/* Positioning */
	position: static;
	display: block;

}
.thm-btn {
	/* Font & Text */
	font-family: Inter, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 29.75px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: left;

	/* Color & Background */
	background-color: rgb(247, 195, 95);
	color: rgb(255, 255, 255);

	/* Box */
	height: 41.75px;
	width: 131.833px;
	padding: 6px 29.5px;

	

	/* Effects */
	
	transition: all 0.5s ease 0s;
	outline: rgb(255, 255, 255) none 0px;
	outline-offset: 0px;
	box-sizing: border-box;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.thm-btn:hover{
	background-color: rgb(37, 89, 70);
}
.blog-card__date {
	/* Font & Text */
	font-family: Inter, sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 18.2px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: center;

	/* Color & Background */
	background-color: rgb(73, 167, 96);
	color: rgb(255, 255, 255);

	/* Box */
	height: 74px;
	width: 74px;
	border: 6px solid rgb(255, 255, 255);
	border-top: 6px solid rgb(255, 255, 255);
	border-right: 6px solid rgb(255, 255, 255);
	border-bottom: 6px solid rgb(255, 255, 255);
	border-left: 6px solid rgb(255, 255, 255);
	padding: 0px 20px;
	

	/* Positioning */
	position: absolute;
	top: -37px;
	bottom: 191.75px;
	right: 30px;
	left: 266px;
	display: flex;
	display: -webkit-box;
  	display: -ms-flexbox;
  	-webkit-box-pack: center;
      	-ms-flex-pack: center;
          	justify-content: center;
  	-webkit-box-align: center;
      	-ms-flex-align: center;
         	align-items: center;

	/* Effects */
	box-sizing: border-box;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}
.text-center-more-btn__box {
	/* Font & Text */
	font-family: Inter, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 34px;
	text-decoration: none solid rgb(110, 118, 115);
	text-align: center;

	/* Color & Background */
	color: rgb(110, 118, 115);

	/* Box */
	height: 71.25px;
	width: 1170px;
	margin: 20px 0px 0px;
}
.text-center-more-btn__box .thm-btn:hover {
	/* Font & Text */
	font-family: Inter, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 38.25px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: center;
	

	/* Color & Background */
	background-color: rgb(37, 89, 70);
	color: rgb(255, 255, 255);

	/* Box */
	height: 71.25px;
	width: 171.486px;
	padding: 16.5px 39.5px;

	/* Effects */
	transition: all 0.5s ease 0s;
	outline: rgb(255, 255, 255) none 0px;
	box-sizing: border-box;
}

