* {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin: 0;
  }
  header {
    width: 100%;
    font-weight: 600;
  }
  .navbar {
    height: 90px;
    color: white;
  }
  .container-fluid {
    width: 70%;
    padding: 0 ;
    display: flex;
    justify-content: center;
  }
  .navbar-nav{
      margin: auto;
  }
  .navbar-brand {
      margin:0;
    max-width: 15%;
  }
  .navbar-brand > .logo {
    max-width: 100%;
  }
  .nav-item {
    margin: 0 15px;
    color: black;
  }
  a {
    color: black;
    
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  
  i {
    margin: 0 20px;
    color: rgba(0, 0, 0, 0.637);
    transform: scale(1.5, 1.5);
  }
  i:hover {
    cursor: pointer;
    color: rgb(72, 167, 95);
  }
  .main-header__info {
    display: flex;
    align-items: center;
    max-width:50%;
  }
  .main-header__info-phone {
    display: flex;
    margin-left:10px;
    width: max-content;
    max-width: 60%;
    align-items: flex-start;
    background-color: rgb(247, 195, 95);
    border-radius: 8px;
    padding: 10px 9px;
    transition: all 500ms ease;
    text-decoration: none;
  }
  .main-header__info-phone > i {
    margin: auto;
    padding: 5px;
    color: #fff;
  }
  .main-header__info-phone-content {
    margin-left: 10px;
  }
  .main-header__info-phone:hover {
     background-color: rgb(72, 167, 95);
    
    }
  .main-header__info-phone-content .main-header__info-phone-text {
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 7px;
  }
  .main-header__info-phone-content .main-header__info-phone-title {
    font-weight: 700;
    margin: 0;
    line-height: 1;
    color: #fff;
    display: block;
  }
  /* page header */
  .page-header__bg{
	
    font-family:Inter,sans-serif ;
    height: 433px;
    width: 1640px;
    position: absolute;
    text-align: left;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
  .page-header__bg .container-xxl__bg {
    /* Font & Text */
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
  
    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
  
    /* Box */
    height: 433px;
    width: 1200px;
    margin: 0px 220px;
    padding: 160px 15px;
    max-width: 1200px;
  
  }
  
  .container-xxl__bg p{
      font-family: Inter,sans-serif;
      text-align: center;
      line-height: 34px;
      margin: 0;
      color: #ffffff;
  }
  .container-xxl__bg h2{
      font-family: handlee,cursive;
      font-size: 70px;
      font-weight: 700;
      line-height: 70px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      height: 70px;
      width: 1170px;
      margin: 30px 0 0 0;
      color: #ffffff;
  }