/* page-header */
.page-header-about{
  background-image: url(../images/backgrounds/page-header-bg-1-1.jpg);
  width: 100%;
  height: 400px;
}
.shape-end-page-header-about{
  max-width: 100%;
  position: relative;
  bottom: -86px;
}
.list-unstyled-about {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  padding-top: 180px;
}
  
.list-unstyled-about li {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 13px;
  color: rgb(255, 255, 255);
  line-height: 1;
  display: flex;
  align-items: center;
}
  
.list-unstyled-about li a {
  opacity: .7;
  color: inherit;
  text-decoration: none;
}
  
.list-unstyled-about li:not(:last-of-type) {
  margin-right: 10px;
}
  
.list-unstyled-about li span {
  line-height: 1;
}
  
.page-header-about .container-xxl h2 {
  margin: 0;
  line-height: 1;
  font-family: var(--special-font);
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
}
  
@media (max-width: 480px) {
  .page-header-about .container-xl h2 {
    font-size: 36px;
  }
}

/* project-details */
.project-details{
  padding-top: 80px;
}

@media (min-width: 1200px) {
  .project-details{
    padding-top: 120px;
  }
}

.project-details-list h2 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1200px){
  .project-details-list h2 {
    margin-bottom: 30px;
    font-size: 46px;
  }
}

.project-details-list h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width:1200px) {
  .project-details-list h3 {
    margin-bottom: 40px;
    font-size: 36px;
  }
}

.project-details p{
  margin: 0;
}

.project-details img{
  border-radius: 10px;
}