.page-header-about{
    background-image: url(../images/backgrounds/page-header-bg-1-1.jpg);
    width: 100%;
    height: 400px;
  }
  .shape-end-page-header-about{
    max-width: 100%;
    position: relative;
    bottom: -86px;
  }
  .list-unstyled-about {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    padding-top: 180px;
  }
    
  .list-unstyled-about li {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 13px;
    color: rgb(255, 255, 255);
    line-height: 1;
    display: flex;
    align-items: center;
  }
    
  .list-unstyled-about li a {
    opacity: .7;
    color: inherit;
    text-decoration: none;
  }
    
  .list-unstyled-about li:not(:last-of-type) {
    margin-right: 10px;
  }
    
  .list-unstyled-about li span {
    line-height: 1;
  }
    
  .page-header-about .container-xxl h2 {
    margin: 0;
    line-height: 1;
    font-family: var(--special-font);
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
  }
    
  @media (max-width: 480px) {
    .page-header-about .container-xl h2 {
      font-size: 36px;
    }
  }

/* contact */
.contacts{
  padding-top: 80px;
}

@media (min-width: 1200px) {
  .contact {
    padding-top: 120px;
  }
}

.block-title-image {
  background-image: url(../images/loader.png);
  background-size: 100%;
  width: 24px;
  height: 25px;
  background-position: center center;
  background-repeat: no-repeat;
}

.contacts .block-title{
  margin-bottom: 30px;
}

.block-title p{
  margin: 0;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: #9ea5a2;
  letter-spacing: .2em;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 10px;
}

.block-title h3{
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  color: #255946;
}

.contact-summery {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .contact-summery {
    margin-top: 40px;
  }
}

.contact-summery p {
  margin: 0;
  font-size: 14px;
  line-height: 2;
  color: #6e7673;
  font-weight: 500;
}


@media (min-width: 1200px) {
  .contact-summery p {
    font-size: 16px;
    line-height: 2.125;
    margin-right: -25px;
  }
}

.contact-social {
  display: flex;
  align-items: center;
}

.contact-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f6f5f2;
  color: #6e7673;
  font-size: 14px;
  width: 40px;
  height: 40px;
  transition: all 500ms ease;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .contact-one__social a {
    width: 50px;
    height: 50px;
    font-size: 15px;
  }
}

.contact-social a:hover {
  background-color: #f7c35f;
  color: #fff;
}

.contact-social a + a {
  margin-left: 10px;
}

.contact-form {
  margin-top: 40px;
}

@media (min-width: 1200px) {
  .contact-form {
    margin-top: 0;
    padding-left: 40px;
  }
}

.contact-form .row {
  margin-left: -10px;
  margin-right: -10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="phone"],
.contact-form textarea {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  background-color: #f6f5f2;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  font-size: 14px;
  color: #6e7673;
  margin-bottom: 20px;
}

.contact-form textarea {
  height: 150px;
  padding-top: 10px;
}

@media (min-width: 1200px) {
  .contact-form textarea {
    padding-top: 20px;
    height: 199px;
  }
}

.thm-btn{
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none!important;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 700;
  font-family: var(--thm-font);
  padding: 16.5px 39.5px;
  transition: 500ms;
  color: #fff;
}

.contact-form .thm-btn {
  background-color: var(--thm-primary);
}

.contact-form .thm-btn:hover {
  background-color: var(--thm-black);
  color: #fff;
}

.contact-infos {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
}

@media (min-width: 1200px) {
  .contact-infos {
    padding-top: 120px;
  }
}

.contact-infos .inner-container {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: -30px;
  position: relative;
  padding: 20px;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .contact-infos .inner-container {
    text-align: left;
    padding: 30px 0;
  }
}

@media (min-width: 1200px) {
  .contact-infos .inner-container {
    padding: 60px 5px;
    margin-bottom: -50px;
  }
}

.contact-infos-single {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 992px){
  .contact-infos-single {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    border-left: 1px solid #e9e7e2;
  }
}

.contact-infos-single h3 {
  margin: 0;
  color: #255946;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .contact-infos-single h3 {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .contact-infos-single h3 {
    margin-bottom: 30px;
  }
}

.contact-infos-single p {
  margin: 0;
  color: #6e7673;
  font-size: 14px;
  line-height: 2;
}

@media (min-width: 992px) {
  .contact-infos-single p {
    margin-left: 0;
    margin-right: 0;
    max-width: 292px;
  }
}

@media (min-width: 1200px) {
  .contact-infos-single p {
    font-size: 18px;
    line-height: 1.89;
  }
}

.contact-infos-single p br {
  display: inherit !important;
}

.contact-infos-single p a {
  color: inherit;
  transition: all 500ms ease;
}

.contact-infos-single p a:hover {
  color: var(--thm-base);
}

.google-map-home-two {
  width: 100%;
  margin-bottom: -16px;
}

.google-map-home-two iframe {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  height: 550px;
}
